---
layout: default
---
<style>
a {
  color: pink;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
  #sidea {
    border: 50px ridge lightpink;
    padding: 25px;
    margin-bottom: 25px;
}
  #sidea p { 
    line-height:0; 
  }
    #sideb {
    border: 50px ridge lightseagreen;
    padding: 5px;
    min-height: 480px;
}
h1 {
    margin: 0;
  line-height:normal;
}
</style>
<p><a href="{{ '/' | relative_url }}">..</a></p>
<div id="sidea">
<h1>{{ page.title }}</h1>

{% if page.artist %}
<p><strong>Artist:</strong> {{ page.artist }}</p>
{% endif %}

{% if page.format %}
<p><strong>Format:</strong> {{ page.format }}</p>
{% endif %}

{% if page.date %}
  {% assign year = page.date | date: "%Y" %}       <!-- Get the full year -->
  {% assign month = page.date | date: "%b" %}      <!-- Get the abbreviated month -->
  {% assign day = page.date | date: "%d" %}        <!-- Get the day -->
  
  {% assign last_three_year = year | slice: 1, 3 %} <!-- Get the last three digits of the year -->
  
  <p><strong>Date:</strong> {{ last_three_year }}-{{ month }}-{{ day }}</p>
{% endif %}

{% if page.price %}
<p><strong>Price:</strong> {{ page.price }}</p>
{% endif %}

{% if page.edition %}
<p><strong>Edition:</strong> {{ page.edition }}</p>
{% endif %}

{% if page.externalUrl %}
<p><strong>External URL:</strong> <a href="{{ page.externalUrl }}">{{ page.externalUrl }}</a></p>
{% endif %}
</div>
<div id="sideb">
<!-- Render additional content -->
<div class="additional-content">
    {{ content }}
</div>
</div>
