---
layout: default
---
<style>
    a {
      color: pink;
      text-decoration: none;
    }
    
    a:hover {
      text-decoration: underline;
    }
    .hide{  opacity: 0.1;}
    .item-grid {
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap to the next line */
  max-width: 800px; /* Max width for the grid */
  margin: 0 auto; /* Center the grid */
  padding: 0;
  list-style: none; /* Remove default list styling */
}

.item {
  width: 200px; /* Fixed width for each item */
  height: 200px; /* Fixed height for each item */
  margin: 5px; /* Margin between items */
  border: 1px solid #ccc; /* Optional border for visibility */
  display: flex; /* Use flexbox for content alignment */
}

.item-content {
  font-size: 12px; /* Base font size */
  overflow: hidden; /* Hide any overflow text */
    padding: 5px;
  text-overflow: ellipsis; /* Add ellipsis for overflow text */
}
</style>
    {{ content }}
